@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2)format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2)format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #000000;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  width: 1200px;
}

.page-header {
  background-color: #ffffff;
  color: #000000;
}

.navigation {
  display: flex;
  margin: 0 auto;
  background-color: #ffffff;
  color: #000000;
}

.index-logo {
  margin: 0;
  padding: 0;
  margin-left: 70px;
  margin-right: 44px;

}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 339px;
  min-height: 64px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-item {
  display: flex;
  margin: 0;
  padding: 0;
  min-width: 100px;
  min-height: 64px;
}

.navigation-link {
  display: block;
  margin: 0;
  padding: 20px 16px;
  align-self: start;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.navigation-user {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.main-container {
  flex-grow: 1;
}

.index-button {
  background-color: #756157;
  color: #ffffff;
}

.catalog-button {
  background-color: #82b3d3;
  color: #ffffff;
}

.background-img {
  background-image: url(../images/index-background.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 1200px;
  height: 485px;
}

.main-index {
  background-color: #ffffff;
  color: #000000;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-item {
  width: 400px;
  min-height: 385px;
  background-color: #82b3d3;
  color: #FFFFFF;
}

.advantages-item-wide {
  display: flex;
  width: 100%;
}
}

.light-blue {
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
}

.light {
  background-color: rgba(131, 179, 211, 0.2);
  color: #000000;
}

.advantages-item-inner {
  padding: 81px 85px;
  align-content: center;
  text-align: center;
}

.housing {
  background-image: url(../images/icons/advantage-icon-house.svg);
  background-repeat: no-repeat;
  background-position: top;
}

.food {
  background-image: url(../images/icons/advantage-icon-food.svg);
  background-repeat: no-repeat;
  background-position: top;
}

.souvenirs {
  background-image: url(../images/icons/advantage-icon-shop.svg);
  background-repeat: no-repeat;
  background-position: top;
}

.subscribe {
  background-image: url(../images/subscribe-background.jpg);
  background-repeat: no-repeat;
  width: 1200px;
  height: 451px;
}

.main-catalog {
  background-color: #ffffff;
}

.catalog-forms {
  background: url(../images/catalog-background.jpg);
  background-repeat: no-repeat;
}

.catalog-forms {
  color: #ffffff;
}

.catalog-filter-group-container {
  display: flex;
  width: 150px;
}

.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-width: 142px;
}

.footer-social-item {
  margin: 0;
  padding: 0;
  width: 47px;
  height: 40px;
}

.footer-social-link-vk {
  background-image: url(../images/icons/icon-vk.svg);
  background-repeat: no-repeat;
  display: block;
  width: 24px;
  height: 14px;
}

.footer-social-link-tg {
  background-image: url(../images/icons/icon-tg.svg);
  background-repeat: no-repeat;
  display: block;
  width: 18px;
  height: 16px;
}

.footer-social-link-youtube {
  background-image: url(../images/icons/icon-youtube.svg);
  background-repeat: no-repeat;
  display: block;
  width: 22px;
  height: 17px;
}

ul {
  list-style-type: none;
}

.contact-phone-container {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.logo-academy-container {
  background-image: url(../images/logo-htmlacademy.png);
  background-repeat: no-repeat;
  display: block;
  width: 115px;
  height: 33px;
}

.breadcrumps {
  display: flex;
  margin: 0;
  padding: 0;
}

.breadcrumps-item {
  margin-right: 25px;
}

.sorting-container {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: auto;

}

.sorting-container .button {
  width: 48px;
  height: 48px;
  background-color: #ffffff;
}

.catalog-filter-group {
  margin-left: 70px;
}

.catalog-form-buttons {
  margin-left: 70px;
}

.breadcrumps-link-home {
  background-image: url(../images/icons/icon-bradcrumps-home.svg);
  background-repeat: no-repeat;
  display: block;
  width: 12px;
  height: 12px;
}

.hotel-cards-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding: 0;
  padding-right: 50px;
  padding-left: 70px;
}

.hotel-cards-item {
  margin-right: 20px;
  width: 340px;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: 70px;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 12px 24px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
}

.pagination-link-current {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 12px 24px;
  line-height: 36px;
  color: #000000;
  background-color: #f2f2f2;
}
