@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2)format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2)format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  width: 1200px;
}

.page-header {
  background-color: #ffffff;
  color: #000000;
  padding: 0 70px;
}

.navigation {
  display: flex;
  margin: 0 auto;
  background-color: #ffffff;
  color: #000000;
}

.index-logo {
  margin: 0;
  padding: 0;
  margin-right: 44px;

}

.welcome-img {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 82px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  min-height: 64px;
  margin: 0;
  padding: 0;
  list-style-type: none;

}

.navigation-item {
  display: flex;
  margin: 0;
  padding: 0;
  min-width: 100px;
  min-height: 64px;
}

.navigation-link {
  position: relative;
  display: block;
  margin: 0;
  padding: 20px 16px;
  align-self: start;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
}

.search-icon {
  background-image: url(../images/icons/icon-search.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.heart-icon {
  background-image: url(../images/icons/icon-heart.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-link-current::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  left: 16px;
  right: 16px;
  background-color: #756257;
}

.navigation-link-button {
  display: block;
  margin: auto;
  padding: 8px 34px;
  text-decoration: none;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 4px;
}

.navigation-link-button:hover {
  background-color: #615048;
}

.navigation-user {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: auto;
  align-items: center;
}

.main-container {
  flex-grow: 1;
}

.main-slogan-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 69px 0;
}

.main-slogan {
  margin: 0;
  padding: 0;
  padding-bottom: 25px;
  width: 620px;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.main-slogan-text {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 22px;
  line-height: 26px;

}

.advantages-head {
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 56px;
  margin-bottom: 62px;
  text-align: center;
  font-size: 24px;
  color: #000000;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-head-wide {
  position: relative;
  margin: 0;
  padding: 0;
  margin-bottom: 62px;
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advatages-description-wide {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;

}

.advatages-description {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
}

.advantages-head-wide::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  bottom: -30px;
  left: 85px;
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-head::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  bottom: -30px;
  left: 85px;
  background-color: rgba(0, 0, 0, 0.3);
}

.advantages-text-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 64px 0;
  align-items: center;
}

.advatages-title {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  width: 505px;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-text {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
}

.main-interested-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 96px 304px;
}

.main-interested-question {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.advatages-text-slogan {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  padding-top: 64px;
  width: 505px;
  justify-self: center;
}

.main-interested-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  width: 592px;
  height: 52px;
}

.index-button {
  background-color: #756157;
  color: #ffffff;
}

.search-button {
  display: block;
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;

}

.search-button:hover {
  background-color: #615048;
}

.catalog-button {
  background-color: #82b3d3;
  color: #ffffff;
}

.background-img {
  background-image: url(../images/index-mask.svg), url(../images/index-background.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
}


.main-index {
  background-color: #ffffff;
  color: #000000;
}

.main-catalog {
  background-color: #ffffff;
  color: #000000;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-item {
  align-content: center;
  text-align: center;
  width: 400px;
  min-height: 385px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-text {
  margin: 0;
  padding: 102px 85px;
}

.advantages-item-wide {
  display: flex;
  width: 100%;
  background-color: #82b3d3;
  color: #FFFFFF;
}

.light {
  background-color: rgba(131, 179, 211, 0.2);
  color: #000000;
}

.advantages-item-inner {
  padding: 81px 85px;
  align-content: center;
  text-align: center;
}

.housing {
  background-image: url(../images/icons/advantage-icon-house.svg);
  background-repeat: no-repeat;
  background-position: top;
}

.food {
  background-image: url(../images/icons/advantage-icon-food.svg);
  background-repeat: no-repeat;
  background-position: top;
}

.souvenirs {
  background-image: url(../images/icons/advantage-icon-shop.svg);
  background-repeat: no-repeat;
  background-position: top;
}

.subscribe {
  display: flex;
  flex-direction: column;
  background-image: url(../images/subscribe-background.jpg);
  background-repeat: no-repeat;
  width: 1200px;
  height: 451px;
}

.subscribe-slogan {
  margin: 0;
  padding-top: 96px;
  padding-bottom: 20px;
  text-align: center;
  color: #ffffff;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscribe-text {
  margin: 0;
  margin-left: 363px;
  padding-bottom: 54px;
  text-align: center;
  color: #ffffff;
  font-size: 22px;
  line-height: 26px;
  width: 475px;
}

.subscribe-input {
  width: 452px;
  height: 52px;
  margin-left: 258px;
}

.subscribe-button {
  color: #ffffff;
  background-color: #82b3d3;
  width: 232px;
  height: 52px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  border: 0;
  border-radius: 4px;

}

.subscribe-button:hover {
  background-color: #68a2ca;
}

.subscribe-button:focus {
  background-color: #68a2ca;
}

.catalog-forms {
  background: url(../images/catalog-background.jpg);
  background-repeat: no-repeat;
  color: #ffffff;
  padding: 0 70px;
}

.catalog-forms-title {
  margin: 0;
  padding: 0;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.catalog-filter-group-container {
  display: flex;
  width: 150px;
}

.page-footer {
  display: flex;
  width: 1200px;
  height: 120px;
  margin: 0 auto;
  background-color: #ffffff;
}

.page-footer:last-child {
  padding: 0;
}

.contact-phone {
  max-width: 720px;
  max-height: 50px;
  font-size: 40px;
  text-decoration: none;
  color: #000000;

}

.contact-phone:hover {
  color: #756157;
}

.page-footer-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 70px;
  justify-content: space-between;
  align-content: center;
  align-self: center;
  width: 1060px;
  height: 50px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-width: 142px;
}

.footer-social-item {
  margin: 0;
  align-content: center;
  width: 47px;
  height: 40px;
}

.footer-social-link-youtube path:hover {
  fill: #68a2ca;
}

.footer-social-link-tg path:hover {
  fill: #68a2ca;
}

.footer-social-link-vk path:hover {
  fill: #68a2ca;
}

.logo-academy path:hover {
  fill: #756157;
}

ul {
  list-style-type: none;
}

.breadcrumps {
  display: flex;
  margin: 0;
  padding: 0;
}

.breadcrumps-item {
  margin-right: 25px;
}

.sorting-container {
  display: flex;
  margin: 0;
  padding: 50px 70px 40px 70px;
  margin-left: auto;
  justify-content: space-between;

}

.sorting-title {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.sorting-buttons-wrapper {
  display: flex;
  margin-left: auto;
}

.sorting-buttons-wrapper .button {
  width: 48px;
  height: 48px;
  background-color: #ffffff;
}

.catalog-form-buttons {
  margin-left: 70px;
}

.breadcrumps-link-home {
  position: relative;
  background: url(../images/icons/icon-bradcrumps-home.svg);
  background-repeat: no-repeat;
  background-position-y: bottom;
  display: block;
  width: 13px;
  height: 15px;
}

.breadcrumps-item-home::after {
  position: relative;
  margin-right: 25px;
  right: -17px;
  bottom: 16px;
  content: url(../images/catalog-arrow.svg)
}

.hotel-cards-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  flex-wrap: wrap;
  padding: 0 70px;
}

.hotel-cards-item {
  width: 340px;
  display: grid;
  grid-template-columns: 140px 140px;
  gap: 16px 20px;
  padding: 20px;
}

.hotel-card-link {
  grid-column: 1/ -1;
  text-decoration: none;
  color: #333333;
}

.hotel-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: left;
}

.hotel-type,
.hotel-price {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.about-button {
  display: block;
  margin: auto;
  padding: 8px 26px;
  text-decoration: none;
  background-color: #756157;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 4px;
}
.catalog-button {
  display: block;
  margin: auto;
  padding: 8px 20px;
  text-decoration: none;
  background-color: #82b3d3;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 4px;
}
.rating-wrap{
  display: flex;
}
.rating-text{
  padding: 0;
  margin: 0;
}
.stars{
  width: 120px;
  height: 17px;
}

.stars::after{
  content: "";
  display: block;
  height: 17px;
  background-image: url(../images/star.svg);
  background-position: center;
  background-repeat: space no-repeat;
  background-size: auto;
}
.stars-2 {
  width: 40px;
}
.stars-3 {
  width: 60px;
}

.stars-4 {
  width: 80px;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0 70px;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 12px 24px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
}

.pagination-link-current {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 12px 24px;
  line-height: 36px;
  color: #000000;
  background-color: #f2f2f2;
}
